.spotlight-card {
  position: relative;
  background-color: #070707;
  border-radius: 34px;

  padding: 24px;
  color: white;
  overflow: hidden;
  box-shadow: var(--glass-shadow);
  --x: 50%;
  --y: 50%;
}

.spotlight-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(
    400px circle at var(--x) var(--y),
    var(--spotlight-color, rgba(17, 17, 47, 0.35)),
    transparent 40%
  );
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.spotlight-card:hover::before {
  opacity: 1;
}

.spotlight-content {
  position: relative;
  z-index: 1;
}
